language: ruby
services:
- docker
env:
  global:
  - DEST_ID=core
  - NSVER=7
  - DOCKER_IMAGE=nethserver/makerpms:devtoolset${NSVER}
  - YUM_ARGS=--enablerepo=nethserver-testing
    - >
      EVARS="
      -e DEST_ID
      -e TRAVIS_BRANCH
      -e TRAVIS_BUILD_ID
      -e TRAVIS_PULL_REQUEST_BRANCH
      -e TRAVIS_PULL_REQUEST
      -e TRAVIS_REPO_SLUG
      -e TRAVIS_TAG
      -e NSVER
      -e VERSIONS_PACK
      -e STAGES_PACK
      -e ENDPOINTS_PACK
      -e YUM_ARGS
      "

before_script: git fetch origin --tags

script:
  - >
    docker run -ti
    --cap-add SYS_PTRACE
    --name makerpms ${EVARS}
    --hostname "b${TRAVIS_BUILD_NUMBER}.nethserver.org"
    --volume $PWD:/srv/makerpms/src:ro ${DOCKER_IMAGE}
    scl enable devtoolset-9 -- makerpms-travis janus-gateway.spec ${TRAVIS_PULL_REQUEST_SHA:+-D 'dbgflags -O0 -fno-omit-frame-pointer -g3 -ggdb3 -fsanitize=address,undefined'}
  - docker cp makerpms:/srv/makerpms/rpmbuild rpmbuild
  - docker commit makerpms nethserver/build
  - >
    docker run -ti ${EVARS}
    -e SECRET
    -e SECRET_URL
    -e AUTOBUILD_SECRET
    -e AUTOBUILD_SECRET_URL
    nethserver/build uploadrpms-travis
