[Unit]
Description=Janus WebRTC gateway
After=network.target
Wants=systemd-modules-load.service

[Service]
Type=simple
ExecStart=/opt/janus/bin/janus -o
Restart=on-abnormal
LimitNOFILE=65536
RestartSec=4
StandardOutput=null

[Install]
WantedBy=multi-user.target
